.contacts {
  padding: 28px 0 39px 0;

  @media #{$not-mobile} {
    padding: 68px 0 57px 0;
  }

  @media #{$desktop-only} {
    @include centerer;
    padding: 101px 0 105px 0;
    display: grid;
    grid-template-columns: 574px 527px;
    column-gap: 51px;
    align-items: start;
    justify-content: start;
  }
}

.contacts__container {
  @include centerer;
}

.contacts__title {
  @include main-title;
  margin: 0 0 28px 0;
  font-size: 25px;

  @media #{$not-mobile} {
    display: flex;
    justify-content: space-between;

    &::after {
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/stack.svg#flag");
    }
  }

  @media #{$desktop-only} {
    justify-content: flex-start;
    padding-left: 113px;

    &::after {
      order: -1;
      margin-right: 64px;
    }
  }
}

.contacts__address {
  margin: 0 0 62px 0;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  color: $gray;
  display: grid;
  grid-template-columns: 76px 1fr;

  @media #{$tablet-only} {
    grid-template-columns: 78px 256px 78px 1fr;
    font-size: 17px;
  }

  @media #{$desktop-only} {
    padding-left: 224px;
  }
}

.contacts__address-title {
  padding: 0;
  margin: 0;
}

.contacts__link {
  @include link;
  text-decoration: underline solid 1px $light-green-decorative;
  text-underline-offset: 5px;
  margin-bottom: 28px;

  @media #{$tablet-only} {
    grid-column: 2/3;
    margin: 0;
  }
}

.contacts__text {
  grid-column: 2/3;

  @media #{$tablet-only} {
    grid-column: 4/5;
  }
}

.contacts__feedback {
  @include centerer;
  @include link;
  @include button;

  @media #{$not-mobile} {
    width: 230px;
    margin: 0 auto;
  }
}

.contacts__map {
  margin: 0 0 42px 0;

  @media #{$not-mobile} {
    margin-bottom: 55px;
  }

  @media #{$desktop-only} {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
