.main-inner__video {
  margin-bottom: 58px;

  @media #{$not-mobile} {
    margin-bottom: 64px;
  }

  @media #{$desktop-only} {
    margin-bottom: 105px;
  }
}

.main-inner__order {
  @include link;
  @include button;
  margin: 0 34px 33px 34px;

  @media #{$not-mobile} {
    margin: 0 42px 46px 42px;
  }

  @media #{$desktop-only} {
    margin: 0;
    font-size: 17px;
    line-height: 16px;
    padding: 18px 20px 14px 20px;
  }
}
