.map {
  iframe {
    display: block;
    height: 454px;
    width: 100%;
    border: none;

    @media #{$not-mobile} {
      height: 457px;
    }

    @media #{$desktop-only} {
      width: 527px;
    }
  }
}

.map--nojs {
  iframe {
    display: none;
  }

  .map__image {
    display: block;
  }
}

.map__image {
  @include img;
  width: 100%;
  height: 454px;
  display: none;

  @media #{$not-mobile} {
    height: 457px;
  }

  @media #{$desktop-only} {
    width: 527px;
  }
}
