.special-offer {
  @include gray-stripe;
  padding-top: 31px;

  @media #{$not-mobile} {
    padding-top: 41px;
  }

  @media #{$desktop-only} {
    padding-top: 55px;
  }
}

.special-offer__container {
  @include centerer;

  @media #{$not-mobile} {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 19px;
    margin-bottom: 53px;
  }

  @media #{$desktop-only} {
    grid-template-columns: 132px 1fr 525px;
    margin-bottom: 73px;
    column-gap: 43px;
  }
}

.special-offer__title {
  @include main-title;
  margin: 0 0 4px 0;
  font-size: 25px;

  @media #{$not-mobile} {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 38px;
  }

  @media #{$desktop-only} {
    grid-column: 2/4;
    grid-row: 1/2;
    z-index: 1;
    align-self: self-end;
    margin: 0 0 35px 0;
    padding-top: 61px;
  }
}

.special-offer__accent {
  margin: 0 0 17px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $light-green;

  @media #{$not-mobile} {
    margin: 0;
    padding: 5px 28px 0 80px;
    line-height: 17px;
    text-align: center;
    justify-self: end;
    grid-column: 4/5;
    grid-row: 1/2;
  }

  @media #{$desktop-only} {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 69px 0 0 31px;
  }
}

.special-offer__description {
  color: $gray;
  margin: 0 0 20px 0;

  @media #{$not-mobile} {
    font-size: 17px;
    line-height: 30px;
    grid-column: 1/3;
    margin-bottom: 39px;
  }

  @media #{$desktop-only} {
    grid-column: 2/3;
    margin-bottom: 53px;
    padding-right: 15px;
  }
}

.special-offer__characteristics {
  margin: 0 0 29px 0;
  line-height: 20px;
  color: $gray;

  @media #{$not-mobile} {
    grid-column: 1/3;
    margin-bottom: 59px;
  }

  @media #{$desktop-only} {
    grid-column: 2/3;
    margin-bottom: 109px;
    align-self: end;
    padding-right: 15px;
  }
}

.special-offer__meaning {
  margin: 0;
}

.special-offer__characteristic-wrapper {
  display: grid;
  grid-template-columns: 97px 1fr;
  padding: 8px 0 11px 0;
  border-bottom: solid 1px #ececec;

  @media #{$not-mobile} {
    padding: 7px 0 12px 0;
  }
}

.special-offer__link {
  @include link;
  margin: 0 0 27px 0;

  @media #{$not-mobile} {
    margin: 0;
    grid-column: 3/5;
    grid-row: 2/6;
    width: 334px;
    height: 404px;
    justify-self: end;
    align-self: end;
  }

  @media #{$desktop-only} {
    width: 525px;
    height: 636px;
    grid-column: 3/4;
    grid-row: 1/6;
    align-self: start;
  }
}

.special-offer__image {
  @include img;
  display: block;
}

.special-offer__price {
  @include accent-text;
  margin: 0 0 23px 0;
  color: $gray;
  text-align: center;

  @media #{$not-mobile} {
    grid-column: 1/3;
    margin-bottom: 32px;
    padding-right: 5px;
  }

  @media #{$desktop-only} {
    grid-column: 2/3;
    align-self: end;
    margin-bottom: 33px;
    padding-right: 15px;
  }
}

.special-offer__button {
  @include button;
  width: 100%;
  margin-bottom: 36px;

  @media #{$not-mobile} {
    font-size: 17px;
    line-height: 20px;
    grid-column: 1/3;
    margin-bottom: 0;
    width: 292px;

    ~ .special-offer__button {
      margin-top: 20px;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  @media #{$desktop-only} {
    grid-column: 2/3;
  }
}
